article {
  display:flex;
  flex-direction:column;
}



.question {
  display:none;
}

.result {
  display:none;
}

#image {
  width:400px;
  height:300px;
  margin:0px auto;
}

.share {
  margin:0 auto;
}

.kakao_ad {
  width:320px;
  margin:0 auto;
}

.banner {
  display:flex;
  justify-content:center;
  width:300px;
  margin:0px auto;
}

.banner_img {
  width:300px;
}